body{
    background-color: #000;
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}
.perfil{
    border-radius: 20px;
    background-color: #131313;
    width: 60%;
    padding: 20px;
    align-items: center;
}
.foto{
    display: flex;
    align-items: center;
    gap: 20px;

    transition: all 1s ease;
}
.image{
    width: 300px;
    border-radius: 50%;
    transition: all 2s ease;
    animation: giro 2s ease;
}
.info{
    background-color: #292929;
    border-radius: 20px;
    width: 50%;
    color: white;
}
a{
    text-decoration: none;
    color: #000;
}.mi_boton{
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #f00;
    transition: all 0.8s ease;
        /*Tipografia*/
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}.mi_boton:hover{
    background-color: #00f;
    border-radius: 60px;
    transform: scale(1.1) translateY(-10px);
}
@media (max-width:730px){
    .perfil{
        width: 90%;
    }.foto{
        flex-direction: column;
    }
    }.info{
        width: 100%;
    }
    .image{
        width: 100%;
        max-width: 300px;
    }
@keyframes giro{
    0%{
        transform: rotate(360deg);
        opacity: 0;
    }
    100%{
        transform: rotate(-360deg);
        opacity: 1;
    }
}