body{
    align-items: center;
    display: flex;
    padding: 20px;
    margin: 20px;
}a{
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #00f;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.8s ease;
}a:hover{
    border-radius: 70px;
    background-color: #f00;
    color: #000;
    transform: translateY(-20px) scale(1.2);
    cursor: pointer;
}