.caja{
    background-color: #000000;
    height: 100vh;
    background-color: rgba(0,0, 0, 1.4);
    background-blend-mode: multiply;

    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    text-align: center;
}.caja_texto{
    color: #aff0ff;
    font-size: 2.5rem;
}#boton{
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 2.0rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 2s ease;
}#boton:hover{
    background-color: #ffffff;
    color: #000000;
    transform:translateY(-200px) rotate(360deg) scale(10);
    background-image: url(dancedog.gif);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}